@model DoAn1_QuanLyThuVien.Models.DauSach

@{
    ViewBag.Title = "DauSach_ViewDetail";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<h2>DauSach_ViewDetail</h2>

<div>
    <h4>DauSach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDauSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDauSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
