@model DoAn1_QuanLyThuVien.Models.DauSach

@{
    ViewBag.Title = "ThemDauSach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="Header_Dau_Sach">
        <div class="row align-items-center ">
            <div class="col-md-4 ">

            </div>
            <div class="col-md-4">
                <h3 class="Them-Dau-sach-header-content"> Thêm đầu sách</h3>
            </div>
            <div class="col-md-4">
                <a class="DauSach-btn-add" href="@Url.Action("DauSach","Main")"> <i class="fas fa-chevron-left"></i> Quay lại</a>
            </div>
        </div>
    </div>   
    @using (Html.BeginForm("ThemDauSach", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken();
        @Html.HiddenFor(model => model.HinhAnh)
        <div class="login_register">
            <div class="changePass">
                <div class="mess-suss-ThemDauSach">Thêm thành công !!!</div> <!-- bỏ viewbag vào dây -->
                <div class="ThemDauSach-field">
                    <i class="fas fa-barcode"></i>
                    @Html.EditorFor(model => model.MaDauSach, new { htmlAttributes = new { @class = "ThemDauSach-input", @placeholder = "Nhập mã sách", @name = "MaDauSach" } })                 
                </div>
                <div class="ThemDauSach-field ">
                    <i class="fas fa-book"></i>
                    @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "ThemDauSach-input",@placeholder = "Nhập tên sách" } })
                </div>
                <div class="ThemDauSach-field ">
                    <i class="fas fa-user-edit"></i>
                    @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "ThemDauSach-input", @placeholder = "Nhập tác giả" } })
                </div>
                <div class="ThemDauSach-field ">
                    <i class="fas fa-caret-down"></i>
                    @Html.EditorFor(model => model.TheLoai, new { htmlAttributes = new { @class = "ThemDauSach-input", @placeholder = "Nhập thể loại" } })
                </div>
                <div class="ThemDauSach-field ">
                    <i class="fas fa-hand-point-right"></i>
                    @Html.EditorFor(model => model.NamXuatBan, new { htmlAttributes = new { @class = "ThemDauSach-input", @placeholder = "Nhập năm xuất bản", @requiredpattern = "[0-9]{1,4}", @title = "Vui lòng nhập số!" } })
                </div>
                <div class="ThemDauSach-field ">
                    <i class="fas fa-industry"></i>
                    @Html.EditorFor(model => model.NhaXuatBan, new { htmlAttributes = new { @class = "ThemDauSach-input", @placeholder = "Nhập nhà xuất bản" } })
                </div>
                <div class=" ThemDauSach-field ThemDauSach-img">                  
                    <input type="file" value="img" name="imageUploader" onchange="ShowImg(this, document.getElementById('previewImg'))" />
                    <img src="@Url.Content(Model.HinhAnh)" id="previewImg" alt="Hinh anh sach">                            
                </div>              

                <button type="submit" class="changePass-submit">Thêm đầu sách</button>

                <div class="mess-error-changePass">Message Error</div> <!-- bỏ viewbag vào đây -->
            </div>
        </div>
    }

</body>
</html>


<script>
    function ShowImg(imageUploader, previewImg) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImg).attr('src', e.target.result);
            }
            // doc duong dan cua du lieu
            reader.readAsDataURL(imageUploader.files[0]);
        }

    }
</script>