@model Code_KhoaLa.Models.DauSach

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutADMIN.cshtml";
}

@using (Html.BeginForm("Create", "DauSach", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken();
    @Html.HiddenFor(model => model.HinhAnh)
    <div class="Center_add_edit_add con">
        <div class="Content_add">
            <div class="Center-h1">
                <h1><img src="~/Content/img/book-icon.png" alt="icon_book">Thêm Sách</h1>
            </div>
            @*<form action="">*@
            <div class="Form">
                <div class="Grid-Add">
                    <div class="Grid-left-img-add">
                        <img src="@Url.Content(Model.HinhAnh)" id="previewImg" alt="Hinh anh sach">
                        @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                    </div>
                    <div class="Grid-rigth-content-add">

                        <div class="form-label-add">
                            <label for="ftenSach"> @Html.LabelFor(model => model.MaDauSach, htmlAttributes: new { @class = "control-label col-md-2" })</label><br><br>
                            <label for="ftenSach"> @Html.LabelFor(model => model.TenSach, htmlAttributes: new { @class = "control-label col-md-2" })</label><br><br>
                            <label for="ftheLoaiSach"> @Html.LabelFor(model => model.TheLoai, htmlAttributes: new { @class = "control-label col-md-2" })</label><br><br>
                            <label for="ftacGia">  @Html.LabelFor(model => model.TacGia, htmlAttributes: new { @class = "control-label col-md-2" })</label><br><br>
                            <label for="fnamXuatBan">@Html.LabelFor(model => model.NamXuatBan, htmlAttributes: new { @class = "control-label col-md-2" })</label><br><br>
                            <label for="fnhaXuatBan"> @Html.LabelFor(model => model.NhaXuatBan, htmlAttributes: new { @class = "control-label col-md-2" })</label><br><br>
                            <label for="fmoTa">@Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })</label><br><br>
                        </div>
                        <div class="form-input-add">
                            <div class="form-input-add_item" type="text" id="fte  nSach" name="ftenSach" placeholder="">
                                @Html.EditorFor(model => model.MaDauSach, new { htmlAttributes = new { @class = "form-control", @name = "MaDauSach" } })
                                @Html.ValidationMessageFor(model => model.MaDauSach, "", new { @class = "text-danger" })
                                @*@if (ViewBag.err != null)
                                {
                                    <script>
                                        window.onload = function () { };
                                </script>


                                }*@

                            </div><br><br>
                            <div class="form-input-add_item" type="text" id="fte  nSach" name="ftenSach" placeholder="">
                                @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
                            </div><br><br>
                            <div type="text" id="ftheLoaiSach" name="ftheLoaiSach">
                                @Html.EditorFor(model => model.TheLoai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TheLoai, "", new { @class = "text-danger" })
                            </div><br><br>
                            <div type="text" id="ftacGia" name="ftacGia">
                                @Html.EditorFor(model => model.TacGia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
                            </div><br><br>
                            <div type="text" id="fnamXuatBan" name="fnamXuatBan">
                                @Html.EditorFor(model => model.NamXuatBan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NamXuatBan, "", new { @class = "text-danger" })
                            </div><br><br>
                            <div type="text" id="fnhaXuatBan" name="fnhaXuatBan">
                                @Html.EditorFor(model => model.NhaXuatBan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NhaXuatBan, "", new { @class = "text-danger" })
                            </div><br><br>
                            <div type="" id="fmoTa" name="fmoTa">
                                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })

                            </div><br> <br>
                            <div class="button-thongtinsanpham">
                                @*<input type="submit" id="btn_QuayLai" name="btn_QuayLai" value="Quay Lại">*@
                                <button id="btn_QuayLai"> @Html.ActionLink("Quay Lại", "Index")</button>
                                <input type="submit" value="Thêm Sách" class="btn_ThemSach" />
                                <input type="file" value="img" name="imageUploader" onchange="ShowImg(this, document.getElementById('previewImg'))" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*</form>*@
        </div>
    </div>
}

