@model DOAN1_QLTV.Models.TheThuVien

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h4>TheThuVien</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaThe)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaThe)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaTinhTrang)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaTinhTrang)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HoTen)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HoTen)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgayLam)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayLam)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NgayHetHan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgayHetHan)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RePassword)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RePassword)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GhiChu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GhiChu)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.MaThe  }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
